*.log
*.sql
.DS_Store
.htaccess
*.map
error_log
Movefile
wp-cli.yml
sitemap.xml
sitemap.xml.gz
.bash
.bash*
.htpasswd
.ssh/
.pki/

node_modules/
gulpfile.js
package.json
*/node_modules/
*/gulpfile.js
*/package.json
